.user-area {
    background-color: white;
    height: 100%;
}
.user{
    position: sticky;
    top: 0;
    z-index: 3;
}

.user img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.bg-warning{
    background-color: whitesmoke !important;
}